<div>
  <h2>Add a comment</h2>
  <%= form_with class: "comment-form", scope: :comment, url: "/users/#{params[:user_id]}/posts/#{params[:id]}/comments/", local: true do |f| %>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.submit %>
  <% end %>
</div>