<ul class="user-index">
  <% @users.each do |user| %>
    <li class="list">
      <p class="photo"><%= user.photo %> </p>
      <div class="user-info">
      <%= link_to user.name, "/users/#{user.id}/" %>
        <p class="no_of_posts">Number of posts: <%= user.posts_counter %></p>
      </div>
    </li>
  <% end %>
</ul>